<div ng-if="dataLoaded">
    <div class="container">
        <div class="row">
            <div class="col">
                    <h1>Welcome to the Personal Experiences forum!</h1>
                    <h2>Discuss your personal experiences and discuss your perspectives and stories</h2>
            </div>
        </div>
    </div>

    <div class="container" ng-repeat="thread in threads" style="text-align: left; margin-top: 20px;">
        <div class="container">
            <div class="row">
                <h3><a href="#/post/{{ thread.id }}" style="text-align: left"> {{ thread.attributes.title }} </a></h3>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" style="margin-top: 200px">
            <div class="mx-auto submitBtn col-centered">
                <button type="button" class="btn btn-primary mt-4" style="font-size:1.6em" onclick="(function(){document.location.href='#/newPost'}());">
                    Add Post
                </button>
            </div>
        </div>
    </div>

    <div class="container">
        <br>
        <br>

    </div>
</div>